{% extends 'AdminAdminBundle:Default:adminLayout.html.twig' %}
{% block adminPanelTitle %}Reports{% endblock %}
{% block adminPanelBody %}
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('reports_problems') }} ">Problems</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('reports_accounting') }} ">Accounting</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('reports_vendors') }} ">Vendors accounts</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('reports_revenue') }} ">Revenue</a>
        </li>
    </ul>
{% endblock %}