<!-- BEGIN GROUP INFORMATION -->
<div class="btn-group-red btn-group">
  <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="fa fa-plus"></i>
  </button>
  <ul class="dropdown-menu-v2" role="menu">
    <li><a href="{{ path('orders_new') }}">New Order</a></li>
    <li class="active">
      <a href="#">New Post</a>
    </li>
    <li>
      <a href="#">New Comment</a>
    </li>
    <li>
      <a href="#">Share</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="#">Comments
        <span class="badge badge-success">4</span>
      </a>
    </li>
    <li>
      <a href="#">Feedbacks
        <span class="badge badge-danger">2</span>
      </a>
    </li>
  </ul>
</div>
<!-- END GROUP INFORMATION -->