{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="{% block HTMLlang%}en{% endblock %}">
  <!--<![endif]-->
  <!-- BEGIN HEAD -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta content="{% block metaDescription %}{% endblock %}" name="description" />
    <meta content=""{% block metaAuthor %}{% endblock %}" name="author" />
    <title>{% block HTMLTitle %}{{ block('title') }}{% endblock %} - Wazeery Group</title>
    {% block stylesheets %}
      {% stylesheets
                'css/jquery-ui.min.css'     
                'css/jquery-ui.theme.min.css'
                'css/bootstrap.min.css'
                'css/chosen.min.css'
                'css/custom.css'
                filter='cssrewrite' output='css/compiled/app.css' %}
      <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
      {% endstylesheets %}
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/dt-1.10.11/datatables.min.css"/>
    {% endblock %}
    <link rel="icon shortcut" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <!-- END HEAD -->
  <body class="{% block bodyClasses %}{% endblock %}">
    {% block body %}
      <!-- BEGIN CONTAINER -->
      <div id="wrapper" class="wrapper">
        {% block header %}
          {% block nav %}
            {% include 'nav.html.twig' %}
          {% endblock %}
        {% endblock %}
        {% block wrapper %}
          <div id="page-wrapper">
            {% block beforeContent %}
            {% endblock %}
            <div class="container">
              {% include 'flashMessages.html.twig' %}
              {% block content %}
              {% endblock %}
            </div>
            {% block afterContent %}
            {% endblock %}
          </div>
        {% endblock %}
        {% block footer %}
        {% endblock %}
      </div>
      <!-- END CONTAINER -->
    {% endblock %}
    {% block javascripts %}
      {% javascripts
            'js/jquery-2.2.2.min.js'
            'js/jquery-ui.min.js'
            'js/bootstrap.min.js'
            'js/chosen.jquery.min.js'
            'js/prototypeForms.js'
            output='js/compiled/app.js' %}
      <script type="text/javascript"  charset="utf8" src="{{ asset_url }}"></script>
      {% endjavascripts %}
      <script type="text/javascript">
        $(document).ready(function () {
          $('.chosen').chosen();
        });
      </script>
      {% if app.environment == 'prod' %}
        <script>
          (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
              (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
          })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
          ga('create', 'UA-15073710-6', 'auto');
          ga('require', 'linkid');
          ga('send', 'pageview');
        </script>
      {% endif %}
    {% endblock %}
  </body>
</html>
