.table-success {
    color: #fff;
    background-color: #dff0d8;
    border-color: #4cae4c;
}
tr.bg-success:hover,
tr.bg-success:focus {
    background-color: #c1e2b3;
}
.navbar-default .navbar-nav > li > a{font-weight:bold;}
.ml-5{margin-right: 5px;}
.firstCol25 th{width: 25%;}
.panel{border-radius: 5px;}
.page-header {margin: 0px 0px 23px;}
#currency tr:first-child td{background-color: #dff0d8;font-weight: bold;}
#currency td:first-child{text-align: right;}
.navbar-brand:hover{background-color: #eee;text-decoration: none;}
.order-comment::before,
.order-comment::after,
.order-comment-form::before,
.order-comment-form::after{
    content: "";
    display: table;
    clear: both;
}

.order-comment{
    font-size: 14px;
    background:#eee;
    padding-left: 15%;
    padding-right: 15%;
}

.order-comment ul{
    list-style-type: none;
    padding: 0;
}

.order-comment .post-comments{
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    /*color: #6b6e80;*/
    position: relative;
}
.order-comment .meta {
    font-size: 13px;
    color: #aaaaaa;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #eee;
}
.order-products-form th:first-child{width: 40%;}
.order-products-form th:nth-child(2){width: 10%;}
.order-products-form th{width: 25%;}
.dashboard{max-height: 250px;}
.dashboard a{padding-top: 0px;padding-bottom: 0px;}
.highlight {background-color: #fcf8e3;}
.table-striped > tbody > tr:nth-child(odd).highlight > td {background-color: #fcf8e3;}
.records_list tbody tr td{vertical-align: middle;}
.panel .form-group{ margin-bottom: 5px;}
.panel-body{font-size: 11px;}
.panel-body label{font-weight: 550}
.panel .control-label{padding-left: 5px; padding-right: 5px;}
.orderProducts li{margin-top: 5px;}
.list-group-item{padding-top: 2px;padding-bottom: 2px}
.badge{margin-top: 5px;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}
.no-border > tbody > tr > td, .no-border > tbody > tr > th, .no-border > tfoot > tr > td, .no-border > tfoot > tr > th, .no-border > thead > tr > td, .no-border > thead > tr > th 
{border: none;}
.ui-datepicker {z-index: 10 !important;}
#order-docs a{word-wrap: break-word;height: 120px; overflow: hidden;}
#order-docs a:hover{overflow: visible;}
#order-docs a span.glyphicon{font-size: 2.5em;}