<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">Order Details</span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(edit_form.people)}}
            </div>
            <div class="col-sm-12">
                {{ form_row(edit_form.departure)}}
            </div>
            <div class="col-sm-12">
                {{ form_row(edit_form.arrival)}}
            </div>
        </div>
    </div>
</div>