{#<header>
    <div class="page-header header">
        <img src="http://mevisa/images/sm_new_mevisa.png" alt="MeVisa" class="pull-right print-img">
        <h4>ООО "ВИЗА"</h4>
        <h5>Адрес:<small> Москва ул. Маросейка 7/8 офис 206 ком.3, тел.+7(499)7145474,+7(812)7152061,+7(495)9736558</small></h5>
    </div>
</header>#}
<h4 class="text-center">Образец заполнения платежного поручения</h4>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <table class="table" style="border: 1px solid #ddd;" >
            <tbody>
                <tr>
                    <th style="width: 25%;">ИНН:</th>
                    <td style="width: 25%;">7701375794</td>
                    <th style="border-left: 1px solid #ddd;">КПП:</th>
                    <td>770101001</td>
                </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <table class="table" style="border: 1px solid #ddd;">
            <thead>
                <tr>
                    <th style="width: 50%;">Получатель</th>
                    <th style="border-left: 1px solid #ddd;">Банк получателя</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        ООО "ВИЗА"<br/>
                        Счет №: 40702810738000007699
                    </td>
                    <td style="border-left: 1px solid #ddd;">
                        ОАО "Сбербанк России" г.Москва<br/>
                        БИК: 044525225<br/>
                        Счет №: 30101810400000000225
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>