{% extends ':default:admin.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right do-not-print" role="group">
                <button type="button" class="btn btn-primary btn-lg" onclick="window.print();
                        return false;">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span> 
                </button>
                <button type="button" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon glyphicon-download" aria-hidden="true"></span> 
                </button>
            </div>
        </div>
    </div>
    {#    {%include 'MeVisaERPBundle:Orders:invoicepdf.html.twig'%}#}
    <div class="row">
        <div class="col-sm-12">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="{{ path('order_show_pdf',  {'id': order.id}) }}"></iframe>
            </div>
        </div>
    </div>
{% endblock %}