<div class="page-header clear-fix">
    <img src="/images/sm_new_mevisa.png" alt="MeVisa" class="pull-right print-img">
    <h3>ООО "ВИЗА"</h3>
    <h4>Адрес:<small> Москва ул. Маросейка 7/8 офис 206 ком.3, тел.+7(499)7145474,+7(812)7152061,+7(495)9736558,</small></h4>
</div>
<h4 class="text-center">Образец заполнения платежного поручения</h4>
<br/>
<div class="row">
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="border-right">
                            <label>ИНН:</label> 7701375794
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>КПП:</label> 770101001
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="border-right">
                    <label>Получатель</label>
                    <p>ООО "ВИЗА"<br/>
                        Счет №: 40702810738000007699
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <label>Банк получателя</label>
                <p>ОАО "Сбербанк России" г.Москва<br/>
                    БИК: 044525225<br/>
                    Счет №: 30101810400000000225
                </p>
            </div>
        </div>
    </div>
</div>
