<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">Notes</span>
        <div class="pull-right">
            <span class="badge">{{ app.user.username }}</span>
            {#{{ form_widget(form.comments.vars.prototype.author) }}#}
        </div>
    </div>
    <div class="panel-body">
        <div class="orderComments" data-prototype="{{ form_widget(form.orderComments.vars.prototype.comment)|e }}"></div>
    </div>
</div>