<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">Payment details</span>
    </div>
    <div class="panel-body">
        <div class="orderPayments" data-prototype="{{
            '<div class="col-sm-3 col-sm-offset-1">'
                ~ form_widget(form.payments.vars.prototype.method) 
                ~ '</div>'
                ~ '<div class="col-sm-8">'
                ~  form_row(form.payments.vars.prototype.amount) 
                ~  form_row(form.payments.vars.prototype.detail) 
        ~ '</div>'
             }}"></div>
    </div>
</div>