<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <span class="panel-title">Order Documents</span>
    </div>
    <div class="panel-body">
        {{ form_widget(form.uploadedFiles)}}
    </div>
</div>
