<div class='panel panel-default'>
    <div class="table-responsive">
        <table class="table table-condensed table-hover" style="border: none;">
            <tbody>
                <tr><th>Name</th><td>{{order.customer.name}}</td></tr>
                <tr><th>Email</th><td>{{order.customer.email}}</td></tr>
                <tr><th>Phone</th><td>{{order.customer.phone}}</td></tr>
            </tbody>
        </table>
    </div>
</div>