<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">Payee Invoice Signature Details</span>
    </div>
    <div class="panel-body">
        {% if form.invoices|length %}
            {% for invoice in form.invoices %}
                {%if invoice.vars['data'].createdAt is empty %}
                    <div class="invoice">{{form_widget(invoice) }}</div>
                {% else %}
                    <div class="invoice">{{form_widget(invoice,  { 'attr':{'disabled':true} }) }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>