<div class="panel panel-default" id="order-docs">
    {# FIXME: wrap long file names   #}
    <div class="panel-heading">
        <span class="panel-title">Documents</span>
    </div>
    <div class="panel-body">
        <div class="row">
            {%for document in documents%}
                <div class="col-xs-12 col-md-4">
                    <a href="{{ document.path}}" class="thumbnail text-center" target="_blank">
                        {% if document.path ends with 'pdf' %}
                            <span class="glyphicon glyphicon-file"></span>
                        {% else %}
                            <img src="{{ document.thumbnail ? document.thumbnail : document.path }}" alt="{{ document.name }}"/>
                        {% endif %}
                        <span>{{ document.name }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>