<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <title>MeVisa Invoice</title>
        <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('css/bootstrap.min.css')) }}" />
        <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('css/custom.css')) }}" />
        <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('css/pdf.css')) }}" />
    </head>
    <body>
        <table class="table" style="margin: 0px;"><tr>
                <td style="width: 20%"><small></small></td>
                <td class="bold" style="margin: 0px;">Штрафы, налагаемые Иммиграционными властями:</td>
                <td style="width: 20%" class="text-right"><small>{{ "now" | format_date(null, 'ru', 'Europe/Moscow', constant('IntlDateFormatter::LONG')) }}</small></td>
            </tr></table>
        <p>Денежное взыскание в размере 1810 долларов США (6600 дирхем ОАЭ) взимается, если Заказчик не покинет страну до истечения срока действия визы.Если Заказчик выехал из страны в положенные сроки, но по какой- либо причине оказался не отмеченным в государственной системе контроля за миграцией населения, Заказчик обязуется предоставить необходимые данные о его выезде (дата вылета и номер рейса, сканированные страницы паспорта клиента с печатью о выезде) в течение недели с момента окончания действующей визы. Кроме этого взыскания в размере 1810 долларов США (6600 дирхам ОАЭ), на любого Заказчика налагается штраф в размере 55 долларов США (200 дирхам ОАЭ) за нахождения в стране после истечения срока действия визы за первые сутки и по 28 долларов США (100 дирхам ОАЭ) за каждый последующие.</p>
        <br/>
        <br/>
        {% include 'MeVisaERPBundle:Orders:pdfinvoiceSignature.html.twig' %}
    </body>
</html>