<div class="row">
    <div class="col-xs-12">
        <table style="width: 100%;" class="srb sign">
            <thead>
                <tr>
                    <td><b>Исполнитель:</b> ООО "ВИЗА"</th>
                    <td><b>Заказчик:</b> ФИО: {{order.customer.name}}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        105082 Москва Рубцовская наб.дом3 стр 3, пом I, комн 25<br/>
                        Место нахождения: ул. Маросейка 7/8 офис 206 ком.3
                    </td>
                    <td>
                        Адрес:
                    </td>
                </tr>
                <tr>
                    <td>ИНН 7701375794&nbsp;|&nbsp;КПП 770101001</td>
                    {#FIXME: passport issue #}
                    <td><b>паспорт 71 5812518</b> выдан  18.08.2011 ФМС 77208</td>
                </tr>
                <tr>
                    <td> 
                        Р/с 40702810738000007699 в ОАО "Сбербанк России" г.Москва<br/>
                        К/с 30101810400000000225 
                    </td>

                </tr>
                <tr>
                    <td><b>Контактный телефон:</b> +7(499)7145474,+7(812)7152061,+7(495)9736558</td>
                    <td><b>Контактный телефон:</b> {{order.customer.phone}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><br/>_____________________________ <b>/Вазири Тарек Махмуд Мохамед/ М.П.</b></td>
                    <td><br/>_____________________________  <b>/{{order.customer.name}}/</b></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>