{% extends 'base.html.twig' %}


{% block title %}Mevisa Authentication{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="container">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash_notice">
                    <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ flashMessage }}
                    </div>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="flash_error">
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ flashMessage }}
                    </div>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="flash_error">
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ flashMessage }}
                    </div>
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="panel">
                        <div class="panel-body">
                            {% block fos_user_content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}