{% extends ':default:admin.html.twig' %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header">
                Product <small> {{ entity.name }} </small>
            </h3>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form(edit_form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-11">{{ form(delete_form) }}</div>
        <div class="col-md-1"><a class="btn btn-warning" href="{{ path('admin_products') }}">Back</a></div>
    </div>
    <!-- /.row -->
{% endblock %}
