{# srv/MeVisa/ERPBundle/Resources/views/Products/new.html.twig #}
{% extends ':metronic:portlet.html.twig' %}

{% block title %}New Product{% endblock %}
{% block portletBody %}{{ form(product_form) }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(document).ready(function () {
      addPrototypeForm('div.pricing', '<div></div>');
    });
  </script>
{% endblock %}
