<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject uppercase">Customer</span>
    </div>
  </div>
  <div class="portlet-body">
    {{ form_row(form.customer.name)}} 
    <label class="label label-primary" style="position: absolute;top: 12px; right: 12px;" id="customer_agent">{% if(order.customer) %}{% if(order.customer.agent) %}Agent{% endif %}{% endif %}</label>
    {{ form_row(form.customer.email)}}
    {{ form_row(form.customer.phone)}}
  </div>
</div>
