<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">Order Details</div>
  </div>
  <div class="portlet-body">
    <div class="row">
      <div class="col-sm-6">
        {{ form_row(form.people,{"attr":{"style":"width:50%"} }) }}
      </div>
      <div class="col-sm-6">
        {{ form_row(form.ticketRequired) }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        {{ form_row(form.arrival) }}
      </div>
      <div class="col-sm-6">
        {{ form_row(form.departure) }}
      </div>
    </div>
  </div>
</div>

