<div class="portlet light bordered" id="payment-panel">
  <div class="portlet-title">
    <span class="caption">Payment details</span>
  </div>
  <div class="portlet-body">
    {% if form.orderPayments|length %}
      {% for payment in form.orderPayments %}
        {{form_widget(payment) }}
      {% endfor %}
    {% else %}
      <div class="orderPayments form-group-sm" data-prototype='{{form_widget(form.orderPayments.vars.prototype)|e }}' ></div>
    {% endif %}
  </div>
</div>