{# src/AppBundle/Resources/views/Currency/index.html.twig #}
{% extends ':metronic:portlet.html.twig' %}

{% block title -%}Currency{% endblock %}
{% block portletBody -%}
  <table class="table table-bordered table-hover table-striped records_list" id="currency">
    <thead>
      <tr>
        <th class="text-right">1 USD in RUB</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      {% for entity in entities %}
        <tr>
          <td>{{ (entity.value/100)|localizedcurrency('RUB') }} </td>
          <td>{% if entity.createdAt %}{{ entity.createdAt|date('H:i d/m/Y') }}{% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
