{% extends ':default:admin.html.twig' %}

{% block content %}
    {% include 'AppBundle:Default:quickActions.html.twig' %}
    <div id="panels">
        <div class="row">
            <div class="col-sm-12">
                {% set orders = backoffice %}
                {% set state = 'backoffice' %}
                {% set panelTitle = 'Backoffice Orders' %}
                {% include 'AppBundle:Default:dashboardPanel.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {% set orders = document %}
                {% set state = 'document' %}
                {% set panelTitle = 'Document Required Orders' %}
                {% include 'AppBundle:Default:dashboardPanel.html.twig' %}
            </div>
            <div class="col-sm-6">   
                {% set orders = post %}
                {% set state = 'post' %}
                {% set panelTitle = 'Post Orders' %}
                {% include 'AppBundle:Default:dashboardPanel.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {% set orders = not_paid %}
                {% set state = 'not_paid' %}
                {% set panelTitle = 'Not Paid' %}
                {% include 'AppBundle:Default:dashboardPanel.html.twig' %}
            </div>
            <div class="col-sm-6">
                {% set orders = completed %}
                {% set state = 'completed' %}
                {% set panelTitle = 'Completed Today' %}
                {% include 'AppBundle:Default:dashboardPanel.html.twig' %}
            </div>
        </div>
    </div>
    <button class="hidden">Button</button>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function updateOrders() {
            $.ajax('{{path('dashboard_ajax')}}').done(function (response) {
                $('#panels').html(response);
            });
            //TODO: play notification sound
        }

        $(document).ready(function () {
            $('button').on('click', function () {
                updateOrders();
            });
            $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock %}