<div class="clearfix" style="margin-bottom: 20px;">
  <div class="btn-group pull-right">
    {#        <a href="{{ path('customers_new') }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-user" aria-hidden="true" aria-label="New Customer"></span><span class="sr-only">New User</span></a>#}
    <a href="{{ path('orders_new') }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus" aria-hidden="true" aria-label="New Order"></span><span class="sr-only">New Customer</span></a>
  </div>
</div>